:root {
    --blue: #69a1c6;
    --greenfill: #80aab5;
    --background: #F3ECEC;
    --darkgreen: #197e85;
    --grassgreen: #197e85 ;
    --background: #f8f8fa;

}
html {
    color: var(--darkgreen);
    background-color: var(--background)
}

svg {
    border: 1px solid var(--darkgreen);
    border-radius: 2%;
    overflow: hidden;
}

.node {
    white-space: nowrap;
}

.node rect,
.node circle,
.node ellipse {
    stroke: var(--darkgreen);
    fill: var(--greenfill);
    stroke-width: 1.5px;
}

.cluster rect {
    stroke: var(--darkgreen);
    fill: var(--greenfill);
    fill-opacity: 0.1;
    stroke-width: 1.5px;
}

.edgePath path.path {
    stroke: var(--darkgreen);
    stroke-width: 1.5px;
    fill: none;
}
